@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif; 
    height: 4444444px; 
    background: #FFF;
}
.active{
    font-weight: 900;
}
header{
    background: #FFF;
    box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.10);
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    
}
a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
ul{
    list-style-type: none;

}

header .container{
    margin: auto;
    width:calc(100% - 120px);
 
}
header .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
header .row .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    font-size: 15px;
    color: #545BE8;

}
.logo img{
    width: 25px;
}
header .row .navbar ul{
    display: flex;
    flex-wrap: wrap;  
    gap: 10px;
}
header .row .navbar a{
    color: black;
}
header .row .links{
    display: flex;
    flex-wrap: wrap;    
    gap: 11px;
    align-items: center;
    

}
header .row .links a{
    padding: 6px 20px;
    border-radius: 4.119px;
    border: 0.412px solid #545BE8;
}
header .row .links .login{
color: #545BE8;
font-size: 15px;
font-weight: 700;

}
header .row .links .register{
    color: #FFF;
  background-color: #545BE8;
    font-size: 15px;
    font-weight: 700;

    
    }
